// variables for colors
$color-primary: #05264c;
$color-secondary: #083263;
$color-tertiary: #1890ff;
$color-button-border: #1ad4d4;
$color-white: #fff;
$color-input: #fffcc8;

//variables for parameters
$media-width: 32rem;
